
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

<!--<bean id ="alien1" class="com.spring1.Alien" scope="singleton"> </bean>-->
    <bean id ="alien1" class="com.spring1.Alien" autowire="byType">
<!--    <property name="age" value="21" > </property>-->
        <property name="com">
            <bean id="com1"  class="com.spring1.Laptop" primary="true"> </bean>
        </property>
<!--        <constructor-arg type="com.spring1.Laptop" ref="lap1"/>-->
<!--        <constructor-arg type="int" value="21"/>-->
<!--                <constructor-arg index="0" ref="lap1"/>-->
<!--                <constructor-arg index="1" value="21"/>-->
<!--        <constructor-arg name="lap" ref="lap1"/>-->
<!--        <constructor-arg name="age" value="21"/>-->


    </bean>
<!--    <bean id="com1"  class="com.spring1.Laptop" primary="true"> </bean>-->
<!--    <bean class="com.spring1.Desktop" lazy-init="true"> </bean>-->
<!--    <bean id="lap2"  class="com.spring1.Laptop"> </bean>-->
</beans>


